# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=bazzite-labwc-noctalia

# Make this the same as your github username/organisation
REPO_ORGANIZATION="YOUR_GITHUB_USERNAME"

IMAGE_DESC="Bazzite with LabWC + Noctalia"
IMAGE_KEYWORDS="bootc,ublue,universal-blue,bazzite,labwc,noctalia"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL=""
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"